gunicorn==18.0
Django==1.5.5
PIL==1.1.7
distribute==0.6.49
requests==2.0.0
requests-oauthlib==0.3.2
wsgiref==0.1.2
dj-database-url==0.2.2
django-storages==1.1.8
psycopg2==2.5.1
boto==2.15.0
django-athumb==2.0
